<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Empecé en este mundo IT a finales del 2020 de forma autodidacta. Luego, gracias a una beca de la fundación Empujar, ingresé a un curso en CoderHouse. Al poco tiempo, gracias a los conocimientos adquiridos, logré obtener un cupo en <strong><em class="italic">Guayerd para capacitarme en el desarrollo en la plataforma de CRM de Salesforce.</em></strong>
    </p>

    <p>
      Gracias a mi conocimiento previo, logré apoyar a varios de mis compañeros en este curso en el <strong>área del frontend con el proyecto integrador, así como obtener la certificación de desarrollador en Salesforce de Guayerd.</strong>
    </p>

    <p>
      Actualmente, sigo capacitándome, ampliando mi stack tecnológico y reforzando mis conocimientos en proyectos que brinden un aporte útil en el desarrollo.
    </p>
  </div>
  <img src="/img/AbelMachaca2R.webp" class="rounded-full w-64 order-1 md:order2" alt="" />
</section>
