---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
{
    date: "Actualmente...",
    title: "Desarrollador Web",
    description:
      "Construyo sitios dinamicos tanto en el backend como en el frontend para mayor interacción con el desarrollo para mejorar el rendimiento como la escalabilidad.",
    link: "https://abelmachaca.github.io/Guayerd-CV/",
  },
  {
    date: "Junio 2023 - Agosto 2023",
    title: "Process Analysis - Cirion Technologies",
    description:
      'Contribuí al área de Infrastructure & Ops cross Support, participando en la revisión y actualización de procesos para mejorar la eficiencia y la calidad. Participé en reuniones de coordinación y elaboración de minutas. Donde se implemento el proyecto de "SPM ServiceNow".',
  },
  {
    date: "Agosto 2022 - Julio 2023",
    title: "Desarrollador de aplicaciones en Salesforce Nivel I - Guayerd",
    description: "Participé en la creación de una aplicación Salesforce desde cero, con el propósito de simplificar la gestión de donaciones y campañas para fundaciones sin fines de lucro. Durante el proyecto, aplicamos la metodología ágil Scrum para la comunicación y el trabajo en equipo. Utilicé herramientas, como el modelado de datos, personalización de aplicaciones en Salesforce y programación orientada a objetos en Apex.",
  }
]

---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map(experiencie => (
    <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
    </li>
    ))
  }
  
</ol>
